@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700&display=swap");

/* global styles */
html {
  font-size: 100%;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work sans", sans-serif;
  color: #2b2d42;
}

body {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 2rem;
}

a {
  text-decoration: none;
}

/* nav styles */
nav {
  min-height: 12vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  border-bottom: 1px solid #edf2f4;
  margin-bottom: 4rem;
}

.logo {
  font-size: 2rem;
  white-space: nowrap;
}

.nav-links a {
  margin-left: 3rem;
  padding: 0.8rem 1rem;
  color: black;
}

.nav-links a:nth-child(1):hover {
  color: #8d99ae;
}

.nav-links a:nth-child(2) {
  background: #ef233c;
  color: white;
  border-radius: 2px;
  transition: background 0.3s ease-in-out;
  white-space: nowrap;
}

.nav-links a:nth-child(2):hover {
  background: #d90429;
}

/* home styles */
.content h2,
.form-content h2 {
  text-align: center;
  padding-bottom: 4rem;
}

.blog-preview {
  background: #f3f7f8;
  padding: 1.5rem 2rem;
  margin-bottom: 2rem;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
  position: relative;
}

.blog-preview:hover,
.blog-preview:focus {
  box-shadow: 1px 1px 10px rgba(141, 153, 174, 0.3);
}

.blog-preview h3 {
  padding-bottom: 0.5rem;
  font-weight: 600;
}

.blog-preview p:nth-child(3),
.blog-preview button {
  font-size: 0.8rem;
  padding-top: 0.2rem;
  color: #8d99ae;
}

.blog-preview button,
.new-blog-form button {
  outline: none;
  border: none;
  background: #2b2d42;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 2px;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

.new-blog-form button {
  padding: 0.8rem 1.5rem;
  font-size: 1rem;
}

.blog-preview button {
  position: absolute;
  bottom: 20%;
  right: 2%;
}

.blog-preview button:hover,
.new-blog-form button:hover {
  background: #3e415d;
}

/* new blog styles */
.new-blog-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #f3f7f8;
  padding: 3rem 2rem;
  border-radius: 5px;
}

.blog-title,
.blog-content,
.blog-author {
  display: flex;
  flex-direction: column;
  width: 600px;
}

.new-blog-form input,
.new-blog-form textarea {
  margin-bottom: 2rem;
  padding: 0.5rem 1rem;
  width: 100%;
  font-size: 1rem;
}

.new-blog-form label {
  font-size: 1.2rem;
  font-weight: 500;
  padding-bottom: 0.5rem;
}

.notify {
  text-align: center;
  padding-top: 10rem;
}

.error {
  color: #d90429;
}
